<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.xiaolinge.matisse" >

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application>

    <activity android:name=".ui.MatisseActivity"/>

    <activity android:name=".internal.ui.AlbumPreviewActivity"/>

    <activity android:name=".internal.ui.SelectedPreviewActivity"/>

    <activity android:name=".ui.ImageCropActivity"/>

</application>
</manifest>
